<nav class='navbar navbar-expand-lg navbar-light bg-light' id='nav'>
  <h2>Simplified Attempt at a Sammy/Webpack Program</h2>
  <ul class='navbar-nav'>
    <li class='nav-item'>
      <a class='nav-link active' href='#/viewOne'>View One</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link active' href='#/viewTwo'>View Two</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link active' href='#/viewThree'>View Three</a>
    </li>
  </ul>
</nav>
